MONGODB_URI=
ACCESS_TOKEN_SECRET=

# Interswitch credentials
INTERSWITCH_CLIENT_ID=
INTERSWITCH_CLIENT_SECRET=
INTERSWITCH_MERCHANT_CODE=
INTERSWITCH_BASE_URL=
INTERSWITCH_PAYABLE_CODE=

SPRITE_PAYMENT_FE_URL=
STOREFRONT_URL=

# Cloudinary Setup
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=